@{
    ViewData["Title"] = "Registreer";
}

<div class="container">
    <form class="form-group" asl-action="Register" method="post">
        <div>
            <label>Gebruikersnaam: </label>
            <input class="form-control" name="username" type="text"/>
        </div>
        <div>
            <label>Email (zelfde email als bij intake is aangegeven): </label>
            <input class="form-control" name="email" type="email" />
        </div>
        <div>
            <label>Wachtwoord: </label>
            <input class="form-control" name="password" type="password"/>
        </div>
        <div>
            <label>herhaal wachtwoord: </label>
            <input class="form-control" name="comfirmPass" type="password" />
        </div>

        <button type="submit" class="btn btn-info">Registreer</button>
    </form>
</div>