

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Logout">Uitloggen</a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Login">Inloggen</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Register">Registreer (patient)</a>
    </li>
}
