@model TherapySession 

<tr>
    <td>@Model.SessionStartTime.ToShortDateString()</td>
    <td>@Model.SessionStartTime.ToShortTimeString()</td>
    <td>@Model.SessionEndTime.ToShortTimeString()</td>
</tr>