
@{
    ViewData["Title"] = "Home Pagina";
}

<div class="container">
    <h1>Welkom by Fys.io: Jouw plek voor avans Fysio Therapie</h1>
    <h3>Om de patienten te bekijken klik hieronder</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Patients">Bekijk patienten</a>
</div>
