
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Welcome to Fys.io: your place for avans FysioTherapy</h1>
    <h3>To view patients click the button</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Patients">View Patients</a>
</div>
