
@{
    ViewData["Title"] = "Home Pagina";
}

<div class="container">
    <h1>Welkom by Avans Fysio: Jouw plek voor avans Fysio Therapie!</h1>
    <p>klik hierboven om in te loggen.</p>
    <p>Indien je nog geen account hebt klik op aanmelden.</p>
</div>
