
@{
    ViewData["Title"] = "Home Pagina";
}

<div class="container">
    <h1>Welkom by Fys.io: Jouw plek voor avans Fysio Therapie</h1>
    <h3>Om de patienten te bekijken klik hieronder</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Patients">Bekijk patienten</a>
    <h3>Om de dossiers te bekijken klik hieronder</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Dossiers">Bekijk dossiers</a>

    <h3>Om de sessies van de ingelogde Fysio te bekijken klick hieronder</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Sessions">Bekijk sessies</a>

    <a class="btn btn-primary" asp-controller="Home" asp-action="NewDossier">Voeg Dossier Toe</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="NewActionPlan">Voeg behandelplan toe</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="NewAdress">Voeg Adress toe</a>
</div>
