@model ActionPlan
@{
    ViewData["Title"] = "Maak nieuwe behandelplan aan";
}

<div class="container">
    <form class="form-group" asp-action="NewActionPlan" method="post">
        <label asp-for="SessionsPerWeek">Aantal sessies per week:</label>
        <div><span asp-validation-for="SessionsPerWeek" class="text-danger"></span></div>
        <input asp-for="SessionsPerWeek" class="form-control" type="number" />

        <label asp-for="TimePerSession">Tijdsduur (in uren) per sessie:</label>
        <div><span asp-validation-for="TimePerSession" class="text-danger"></span></div>
        <input asp-for="TimePerSession" class="form-control" type="number" />

        <button type="submit" class="btn btn-info">Toevoegen</button>
    </form>
</div>
