@model NewDossierData;
@{
    ViewData["Title"] = "Maak nieuwe dossier aan";
}

<div class="container">
    <form class="form-group" asp-action="NewDossier" method="post">
        <label asp-for="selectedPatient">Selecteer patient:</label>
        <div><span asp-validation-for="selectedPatient" class="text-danger"></span></div>
        <select class="form-control" asp-for="selectedPatient" asp-items="Model.patientStrings">
            <option value="">Kies Patient</option>
        </select>

        <label asp-for="file.issueDescription"> Voer globale beschrijving patient in:</label>
        <div><span asp-validation-for="file.issueDescription" class="text-danger"></span></div>
        <textarea asp-for="file.issueDescription" class="form-control"></textarea>

        <label asp-for="selectedDiagnose">Selecteer Diagnose</label>
        <div><span asp-validation-for="selectedDiagnose" class="text-danger"></span></div>
        <select class="form-control" asp-for="selectedDiagnose" asp-items="Model.diagnoseList">
            <option value="">Kies Diagnose</option>
        </select>

        <label asp-for="SelectedIntaker">Intake gedaan door:</label>
        <div><span asp-validation-for="SelectedIntaker" class="text-danger"></span></div>
        <select class="form-control" asp-for="SelectedIntaker" asp-items="Model.AllWorkers">
            <option value="">Kies Fysiotherapist of Student</option>
        </select>

        <label asp-for="selectedSupperviser">Id intake onder toezicht van:</label>
        <div><span asp-validation-for="selectedSupperviser" class="text-danger"></span></div>
        <select class="form-control" asp-for="selectedSupperviser" asp-items="Model.FysioStrings">
            <option value="">Kies Fysiotherapist</option>
        </select>

        <label asp-for="selectedMain">Selecteer hoofdbehandelaar:</label>
        <div><span asp-validation-for="selectedMain" class="text-danger"></span></div>
        <select class="form-control" asp-for="selectedMain" asp-items="Model.AllWorkers">
            <option value="">Kies Fysiotherapeut of student</option>
        </select>

        <label asp-for="file.registerDate">Datum Registreren:</label>
        <div><span asp-validation-for="file.registerDate" class="text-danger"></span></div>
        <input asp-for="file.registerDate" class="form-control" type="date" />

        <label asp-for="file.fireDate">Datum ontslag:</label>
        <div><span asp-validation-for="file.fireDate" class="text-danger"></span></div>
        <input asp-for="file.fireDate" class="form-control" type="date" />

        <label asp-for="selectedPlan">Selecteer behandelplan:</label>
        <div><span asp-validation-for="selectedPlan" class="text-danger"></span></div>
        <select class="form-control" asp-for="selectedPlan" asp-items="Model.PlanStrings">
            <option value="">Kies behandelplan</option>
        </select>

        <button type="submit" class="btn btn-info">Voeg toe</button>
    </form>
</div>
