<div class="text-center">
    <h3>Er is momenteel nog geen dossier voor je aangemaakt...</h3>
    <p>kom terug wanneer je therapist melding geeft dat er een dossier is aangemaakt.</p>
    <p>Indien je al wel een melding hebt gekregen dat je dossier is aangemaakt neem dan contact op met je therapist</p>
</div>